body {
    background-color: lightgrey;
}
/*.bl-background {
    background: #cdcbcb;
    padding: 20px;
    margin: 0 auto;

}
*/
.bl-list {
    height: 100px;
    width: 700px;
    margin-right: 10px;
     padding: 5px;
    border-radius: 3px;
    background: white;
     overflow: hidden;
        /*margin: 0 auto;*/
}

.bl-bought {
     width: 300px;
    height: 100%;
    float:right;
     border-radius: 3px;
    background: white;
}

/*Кнопки*/
.bl-label {
    background: #cdcbcb;
}
.bl-plus {
    background: #04a613;
}