body{
	/*width: 100%;*/
	background-color: #DADADA;
}

.container{
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.container > div{
	position: absolute;
	display: inline-block;
	box-sizing: border-box;
	background-color: white;
	border: 1px solid rgba(34,36,38,.15);
	border-radius: 5px;
}

.todo{
	left: 0;
	width: calc(100% - 304px);
}

.todo > div{
	padding: 10px;
}

.todo .add input{
	width: 79%;
	border: 1px solid #DADADA;
	border-radius: 5px;
	padding: 10px;
	margin: 0;
	box-sizing: border-box;
}

.todo .add button{
	background-color: blue;
	color: white;
	width: 20%;
	border: 1px solid darkblue;
	border-radius: 5px;
	padding: 10px;
	margin: 0;
}
.todo .add button:active{
	background-color: darkblue;
}


.todo .list .item{
	border-top: 1px solid #DADADA;
}

.todo .list .item > div {
	display: inline-block;
	width: calc(33% - 0.5px);
	padding: 5px;
	box-sizing: border-box;
}

.todo .list .item .item-count{
	text-align: center;
}

.todo .list .item .item-count .item-count-minus{
	border: 1px solid limegreen;
	border-radius: 50%;
	background-color: lightgreen;
	padding: 5px;
}
.todo .list .item .item-count .item-count-minus:active{
	background-color: limegreen;
}

.todo .list .item .item-count .item-count-current{
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	background-color: #DADADA;
	padding: 5px 10px;
}

.todo .list .item .item-count .item-count-plus{
	border: 1px solid red;
	border-radius: 50%;
	background-color: orangered;
	padding: 5px;
}
.todo .list .item .item-count .item-count-plus:active{
	background-color: red;
}

.todo .list .item .item-control{
	text-align: right;
}

.todo .list .item .item-control .item-control-buy, .todo .list .item .item-control .item-control-unbuy{
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;
}

.todo .list .item .item-control .item-control-remove{
	border: 1px solid red;
	border-radius: 5px;
	padding: 5px;
	background-color: orangered;
}

.stats{
	right: 0;
	width: 300px;
}

.stats .row{
	padding: 10px;
	border-bottom: 1px solid #DADADA;
}

.stats .row h3{
	margin: 0;
}

.stats .row .item{
	border-radius: 5px;
	background-color: #DADADA;
	padding: 5px;
	margin-right: 5px;
}

.stats .row .item .item-count{
	border-radius: 50%;
	background-color: #F2711C;
	color: white;
	padding: 5px;
}

.badge{
	position: fixed;
	bottom: -70px;
	left: 50px;
	width: 100px;
	height: 100px;
	font-family: Arial;
	color: white;
	background-color: darkviolet;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	transition-duration: 0.5s;
}

.badge:hover{
	transform: translateY(-70px);
	background-color: blue;
 }

.badge .badge-title{
	padding: 5px;
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
}

.badge .badge-created-by{
	padding: 10px;
	font-size: 10pt;
}

button{
	position: relative;
}

button::before{
	content: attr(data-tooltip);
	display: block;
	position: absolute;
	top: -110%;
	right: -75%;
	width: 0px;
	height: 0px;
	padding: 5px;
	background-color: darkviolet;
	color: white;
	border-radius: 5px;
	transform: scale(0);
	transition: ease-in 0.2s;
}

button:hover::before{
	width: auto;
	height: auto;
	transform-origin: center bottom;
	transform: scale(1);
}

@media print {
	.badge{
		color: black;
		background-color: white;
		border: 1px solid black;
	}

	.badge .badge-title{
		display: none;
	}
}

@media (max-width: 500px){
	.todo, .stats{
		display: block;
		width: 100%;
	}
	.container > div {
		position: relative;
	}
}